:root{
    font-family: Arial, Helvetica, sans-serif;
    --grey-color: 140, 140, 140, 1;
    --red-color: 205, 61, 15, 1;
    --blue-color: 23, 126, 210, 1;
    --dark-color: 31, 31, 31, 1;
    --light-grey-color: 190, 188, 187, 1;
    --dark-blue-color: 22, 28, 59, 1;
}

/* nav{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
} */

body{
    margin-top: 105px;
}

html a {
    text-decoration: none;
    color: black;
}

html a:hover {
    color: black;
}


.top_nav{
    background-color: black;
}

.sony_logo{
    height: 15px;
}

/* .navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
} */

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown-menu .ul_ps li{
    list-style: none;
}

.dropdown-menu .ul_games li a{
   color: black;
}

.dropdown-menu .ul_games .ul_dot{
    color: rgb(var(--blue-color));
 }

.dropdown-item:hover{
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
    background-color: transparent;
}

 /* ////////freccia che si gira////// */
.dropdown_arrow::after{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.8rem;
    display: inline-block;
    transition: transform 0.2s ease;
}

.nav-link.dropdown_arrow.show::after{
    transform: rotate(180deg);
    color: rgb(var(--blue-color));
}
.nav-link.dropdown_arrow.show{
}
 /* ////////freccia che si gira////// */

 
.btn_search{
    background-color: transparent;
    border-color: transparent;
}

.btn_search img{
    width: 1.5rem;
}

header{
    color: white;
}

.jumbo_img .container,
.disp_game_img .container{
    position: absolute;
    bottom: 15%;
    left: 3%;
}

.jumbo_img{
    background: url(../img/jumbo-bg.png) no-repeat center;
    height: 500px;
    
}

.jumbo_img, .disp_game_img{
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.logo_main_game{
    width: 300px;
}

.jumbo_img span,
.disp_game_img span{
    display: block;
}

.jumbo_img button,
.disp_game_img button{
    margin-top: 2rem;
}

.mod_btn{
    border-radius: 50px;
    font-weight: 600;
}

.mod_btn:hover{
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
}

.mod_btn:active{
    filter: brightness(0.8);

}

.red_btn{
    background-color: rgb(var(--red-color));
    border-color: rgb(var(--red-color));
    color: white;
}

.red_btn:hover{
    background-color: rgb(var(--red-color));
    border-color: rgb(var(--red-color));
    color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
}

.grey_btn{
    background-color: #d9dadc;
    border-color: #d9dadc;
    color: rgb(var(--blue-color));
}

.grey_btn:hover{
    background-color: #d9dadc;
    border-color: #d9dadc;
    color: rgb(var(--blue-color));
    box-shadow: inset 0px 0px 0px 2px rgb(var(--light-grey-color));
}

.white_btn{
    background-color: white;
    border-color: white;
    color: black;
}

.white_btn:hover{
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: inset 0px 0px 0px 2px rgb(var(--dark-blue-color));
}

.btn:focus, .btn-primary:active:focus, 
.btn-dark:active:focus{
    box-shadow: none;
}


.game_cover img{
    border-radius: 20px;
    /* margin: .5rem; */
}

.game_cover .special{
    box-shadow: 0 0 0 2px white, 0 0 0 5px rgb(var(--blue-color));
    /* border: 3px solid rgb(var(--blue-color)); */
}

.games_container .game_cover:hover{
    transform: translate(0, -10px);
    transition: 0.3s;
}

.ps5_section{
    margin-top: 6rem;
}

.ps5_section .no_limits{
    color: rgb(var(--blue-color));
}

.ps5_section img{
    width: 100%;
}

.ps5_section .item_cover img,
.ps5_section .item_cover_sp img{
    width: 60%;
}

/* colore paragrafi p grey */
.grey_p_text{
    color: gray;
    font-weight: 500;
}

.item_cover, .item_cover_sp{
    height: 228px;
}

.item_cover{
    filter: opacity(.7);
}

.item_cover:hover{
    filter: none;
    border-bottom: 3px solid rgb(var(--blue-color));
}

.item_cover span, .item_cover_sp span{
    font-size: 1em;
    font-weight: 600;
}

.ps5_section .border_bottom{
    border-bottom: 3px solid rgb(var(--blue-color));
}

.disp_game_img{
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) no-repeat center;
    height: 950px;  
}

.disp_game_img .text{
    color: white;
}

.list_games{
    background-color: rgb(var(--dark-color));
    color: white;
}

.list_games span{
    color: white;
}

.ps4_section .reg{
    font-size: .5em;
    vertical-align: super;
}

/* .item_cover_ps4{
    position: relative;
}

.item_cover_ps4 button{
    position: absolute;
    bottom: 0;
} */

.ps_plus{
    background-color: rgb(var(--light-grey-color));
    /* height: 300px; */
}

.ps_now{
    background-color: rgb(var(--dark-blue-color));
    color: white;
}

.ps_plus .ps_plus_logo_img,
.ps_now .ps_now_logo_img{
    width: 300px;
}

.ps_plus .text_content,
.ps_now .text_content{
    align-self: center;
}

.sconti_ps, .social_media{
    margin-top: 4rem;
}

.social_media{
    margin-bottom: 4rem;
}

footer{
    background-color: #00439c;
    color: white;
    padding-bottom: 5rem;
}

.white-ps-logo{
    margin-top: -1.5rem; /* per allinearlo ai link  */
    margin-left: -1rem;

    width: 130px;
    filter: brightness(0) invert(1);
}


footer ul{
    list-style: none;
    line-height: 2rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}

footer .img_sie_logo{
    width: 150px;
}

footer p{
    font-size: .9em;
}


footer .more_info a:hover{
    color: white;
}