:root{
    font-family: Arial, Helvetica, sans-serif;
    --grey-color: 140, 140, 140, 1;
    --red-color: 205, 61, 15, 1;
    --blue-color: 23, 126, 210, 1;
}

/* nav{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
} */

body{
    margin-top: 105px;
}

.top_nav{
    background-color: black;
}

.sony_logo{
    height: 15px;
}

.blu{
    background-color: cornflowerblue;
}

.main_nav{
    height: 80px;
    align-items: center;
}

.hamburger{
    color: rgb(var(--grey-color));
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown-menu .ul_ps li{
    list-style: none;
}

.dropdown-menu .ul_games li a{
   color: black;
}

.dropdown-menu .ul_games .ul_dot{
    color: rgb(var(--blue-color));
 }

header{
    color: white;
}

.jumbo_img .container{
    position: absolute;
    bottom: 15%;
}

.jumbo_img{
    position: relative;
    background: url(../img/jumbo-bg.png) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}

.logo_main_game{
    width: 300px;
}

.jumbo_img span{
    display: block;
}

.mod_btn{
    border-radius: 50px;
    font-weight: 600;
}

.mod_btn:hover{
    filter: brightness(0.8);
}

.red_btn{
    background-color: rgb(var(--red-color));
    border-color: rgb(var(--red-color));
}

.red_btn:hover{
    background-color: rgb(var(--red-color));
    border-color: rgb(var(--red-color));
}

.game_cover img{
    border-radius: 20px;
    margin: .5rem;
}

.game_cover .special{
    border: 3px solid rgb(var(--blue-color));
}


.ps5_section{
    margin-top: 6rem;
}

.ps5_section span{
    color: rgb(var(--blue-color));
}

.ps5_section img{
    width: 100%;
}

/* colore paragrafi p grey */
.grey_p_text{
    color: gray;
    font-weight: 500;
}

.item_cover .item{
    filter: opacity(.7);
}

.ps5_section .border_bottom{
    border-bottom: 3px solid rgb(var(--blue-color));
}